.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Navbar .inernav{
  display: flex;
  margin-left: auto;
  padding-right: 10px;
}
.Navbar .inernav .log-in,
.Navbar .inernav .admin{
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  margin-right: auto;
}
.Navbar .logo{
  margin-right: auto;
  margin-left: 10px;
  display: flex;
}
.Navbar .logo .title{
  margin-left: 30px;
  padding-top: 10px;
  width: 320px;
  font-size: 30px;
  font-weight:bold;
  font-style:inherit;
  color: rgb(16, 23, 27);
}
img{
  margin-top: -20px;
  display: inline;
  left: 0;
  object-fit: contain;
  width: 100%;
}
a:hover{
  box-shadow: 0 6px 20px rgb(0 0 0  / 17%);
}
.Navbar img{
  margin-top: auto;
}
.Navbar{
  background-color: #65cfec;
  margin-bottom: 20px;
  text-align: end;
  display: grid;
  grid-template-columns: 10% 90%;
}
.login{
  width: 300px;
  height: 400px;
  position: absolute;
  background-color: white;
  box-shadow:  0 0 100px rgba(0, 0, 0, 0.87);
  top:0;
  padding: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: auto;
  display: none;
}
.login > div {
  font-size: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.login > .close > div {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Navbar{
    display: flex;
    flex-flow: column;
    padding:unset;
  }
  a{
    font-size: 15px;
    margin: auto;
    padding: unset;
    text-align: center;
  }
}


